<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYNK-F CyberMind</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header class="hero">

        <h1>🛡️ SYNK-F CyberMind</h1>

        <p>AI Powered Cyber Awareness Trainer</p>

        <div class="buttons">
            <a href="/login" class="btn">🔐 Login</a>
        </div>

    </header>

</body>

</html>